<md-card>
  <md-card-header>
    <md-card-header-text>
      <div class="md-title">
        {{ user.login }}
      </div>
      <div
        class="md-subhead"
        v-if="user.name"
      >
        {{ user.name }}
      </div>
    </md-card-header-text>

    <md-card-media>
      <img :src="user.avatar_url">
    </md-card-media>
  </md-card-header>

  <md-card-content>
    <p v-if="user.bio">
      {{ user.bio }}
    </p>
    <md-list>
      <md-list-item v-if="user.location">
        <md-icon>location_on</md-icon>
        <span>{{ user.location }}</span>
      </md-list-item>
      <md-list-item>
        <md-icon>class</md-icon>
        <span>{{ user.public_repos }} public repos</span>
      </md-list-item>
      <md-list-item>
        <md-icon>people</md-icon>
        <span>{{ user.followers }} followers</span>
      </md-list-item>
      <md-list-item>
        <md-icon>people_outline</md-icon>
        <span>{{ user.following }} following</span>
      </md-list-item>
    </md-list>
  </md-card-content>

  <md-card-actions>
    <md-button
      :href="user.html_url"
      target="_blank"
      class="md-primary"
    >
      Profile
    </md-button>
    <md-button
      :href="user.blog"
      target="_blank"
      class="md-primary"
      v-if="user.blog"
    >
      Website
    </md-button>
  </md-card-actions>

</md-card>
